.card {
  position: relative;
  width: 260px;
  height: 432px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 16px;
  border-radius: 9px;

  background: rgb(247, 247, 247);
  margin: 0 auto;
}

.card > * {
  margin-bottom: 16px;
}

.card > *:last-child {
  margin-bottom: 0;
}

.card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 15px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.card h2 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: SF Pro Display;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.price {
  color: rgb(0, 0, 0);
  font-family: SF Pro Display;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}

.like_btn {
  position: absolute;
  top: 25px;
  right: 17px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s ease;
}
