.category {
  width: 160px;
  height: 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  outline: none;
  padding: 24px 52px 24px 52px;
  border-radius: 15px;
  background: rgb(237, 237, 237);
  color: black;
}

.category:hover {
  text-decoration: none;
}

.category h5 {
  color: rgb(0, 0, 0);
  font-family: SF Pro Display;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
}
.category:hover {
  transform: scale(1.05);
}

.cardBlock {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
